node_modules

############################
# OS X
############################

backend/.DS_Store
backend/.AppleDouble
backend/.LSOverride
backend/Icon
backend/.Spotlight-V100
backend/.Trashes
backend/._*


############################
# Linux
############################

backend/*~


############################
# Windows
############################

backend/Thumbs.db
backend/ehthumbs.db
backend/Desktop.ini
backend/$RECYCLE.BIN/
backend/*.cab
backend/*.msi
backend/*.msm
backend/*.msp


############################
# Packages
############################

backend/*.7z
backend/*.csv
backend/*.dat
backend/*.dmg
backend/*.gz
backend/*.iso
backend/*.jar
backend/*.rar
backend/*.tar
backend/*.zip
backend/*.com
backend/*.class
backend/*.dll
backend/*.exe
backend/*.o
backend/*.seed
backend/*.so
backend/*.swo
backend/*.swp
backend/*.swn
backend/*.swm
backend/*.out
backend/*.pid


############################
# Logs and databases
############################

backend/.tmp
backend/*.log
backend/*.sql
backend/*.sqlite
backend/*.sqlite3


############################
# Misc.
############################

backend/*#
backend/ssl
backend/.idea
backend/nbproject
backend/public/uploads/*
backend/!public/uploads/.gitkeep

############################
# Node.js
############################

backend/lib-cov
backend/lcov.info
backend/pids
backend/logs
backend/results
backend/node_modules
backend/.node_history

############################
# Tests
############################

backend/coverage

############################
# Strapi
############################

backend/.env
frontend/.env
backend/license.txt
backend/exports
backend/*.cache
backend/dist
backend/build
backend/.strapi-updater.json




# frontend

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
